<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ang"   th:fragment="content">

<head>
    <title>listeruser</title>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/vendors/styles/core.css}" />
    <link rel="stylesheet" th:href="@{/vendors/styles/icon-font.min.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/jquery-steps/jquery.steps.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/vendors/styles/style.css}" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
            crossorigin="anonymous"
    ></script>
<body>

<div th:replace="~{fragments/header :: topbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="login-header box-shadow">
    <div
            class="container-fluid d-flex justify-content-between align-items-center"
    >
        <div class="brand-logo">
            <a href="login.html">
                <img src="vendors/images/deskapp-logo.svg" alt="" />
            </a>
        </div>
        <div class="login-menu">
            <ul>
                <li><a href="login.html"></a></li>
            </ul>
        </div>
    </div>
</div>
<div
        class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img th:src="@{/vendors/images/register-page-img.png}" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="register-box bg-white box-shadow border-radius-10">
                    <div class="wizard-content">
                        >
                        <form class="tab-wizard2 wizard-circle wizard"  th:action="@{/immobilier/unitelocation/addnew}" th:object="${unitelocation}" method="post">
                            <h5>Ajouter des Unite de location pour l'imeuble :
                              <span th:text="${immeuble.nom}"></span></h5>
                            <section>
                                <input type="hidden"  th:field="*{id}" />

                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Numero</label
                                        >
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" th:field="*{numero}" />
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{immeuble.id}" />
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Surface*</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" th:field="*{surface}"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Pieces*</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" th:field="*{pieces}"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Loyer*</label
                                        >
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" th:field="*{loyer}" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >User*</label
                                        >
                                        <div class="col-sm-8">
                                            <select class="form-control" th:field="*{immeuble}">
                                                <option disabled selected value="">-- Choisir un utilisateur --</option>
                                                <option th:each="immeuble : ${immeubles}"
                                                        th:value="${immeuble.id}"
                                                        th:text="${immeuble.nom}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 2 -->


                            <!-- Step 3 -->

                            <div
                                    class="modal fade"
                                    id="success-modal"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="exampleModalCenterTitle"
                                    aria-hidden="true"
                            >
                                <div
                                        class="modal-dialog modal-dialog-centered max-width-400"
                                        role="document"
                                >
                                    <div class="modal-content">
                                        <div class="modal-body text-center font-18">
                                            <h3 class="mb-20">Form Submitted!</h3>
                                            <div class="mb-30 text-center">
                                                <img src="vendors/images/success.png" />
                                            </div>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button  class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Step 4 -->


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- success Popup html Start -->
<button
        type="button"
        id="success-modal-btn"
        hidden
        data-toggle="modal"
        data-target="#success-modal"
        data-backdrop="static"
>
    Launch modal
</button>

<!-- success Popup html End -->
<!-- welcome modal start -->
<div class="welcome-modal">
    <button class="welcome-modal-close">
        <i class="bi bi-x-lg"></i>
    </button>



    <script
            async
            defer="defer"
            src="https://buttons.github.io/buttons.js"
    ></script>
</div>


</div>




<script th:src="@{/vendors/scripts/core.js}"></script>
<script th:src="@{/vendors/scripts/script.min.js}"></script>
<script th:src="@{/vendors/scripts/process.js}"></script>
<script th:src="@{/vendors/scripts/layout-settings.js}"></script>
<script th:src="@{/src/plugins/jquery-steps/jquery.steps.js}"></script>
<script th:src="@{/vendors/scripts/steps-setting.js}"></script>

<!-- DataTables + ApexCharts -->
<script th:src="@{/src/plugins/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/vendors/scripts/dashboard3.js}"></script>




<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>

</body>
</html>
