
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ang"> th:fragment="content"

<head>
    <title>listeruser</title>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/vendors/styles/core.css}" />
    <link rel="stylesheet" th:href="@{/vendors/styles/icon-font.min.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/jquery-steps/jquery.steps.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/vendors/styles/style.css}" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
            crossorigin="anonymous"
    ></script>
    <title></title>
</head>


<body>
<div th:replace="~{fragments/header :: topbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div  class="main-container">

    <div class="pd-ltr-20 xs-pd-20-10">



        <div class="pd-ltr-20 xs-pd-20-10">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>UNITE DE LOCATION</h4>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                           ICON
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box mb-30">
            <div class="pd-20">


                <!-- Affichage message d'erreur -->

               <!-- <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>-->
                </div>
                <h4 class="text-blue h4">AJOUTER UNE UNITE DE LOCATION</h4>

            </div>
            <div class="pb-20">
                <table class="data-table table stripe hover nowrap">
                    <thead>
                    <tr>
                        <th class="table-plus datatable-nosort">#</th>
                        <th>Numero</th>
                        <th>Surface</th>
                        <th>Loyer</th>
                        <th>Pieces</th>
                        <th>Status</th>
                        <th class="datatable-nosort">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${unites}">
                        <td class="table-plus" th:text="${u.id}"></td>
                        <td th:text="${u.numero}"></td>
                        <td th:text="${u.surface}"></td>
                        <td th:text="${u.loyer}"></td>
                        <td th:text="${u.pieces}"></td><!--/*@thymesVar id="status" type=""*/-->
                        <td th:text="${u.statut.name()}"></td>
                        <td>
                            <div class="dropdown">
                                <a
                                        class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-toggle="dropdown"
                                >
                                    <i class="dw dw-more"></i>
                                </a>
                                <div
                                        class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                                >

                                    <a class="dropdown-item" th:href="@{/immobilier/unitelocation/update/{id}(id=${u.id})}"
                                    ><i class="dw dw-edit2"></i> Edit</a
                                    >
                                    <a class="dropdown-item" th:href="@{/immobilier/unitelocation/delete/{id}(id=${u.id})}"
                                    ><i class="dw dw-delete-3"></i> Delete</a
                                    >
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>


<script th:src="@{/vendors/scripts/core.js}"></script>
<script th:src="@{/vendors/scripts/script.min.js}"></script>
<script th:src="@{/vendors/scripts/process.js}"></script>
<script th:src="@{/vendors/scripts/layout-settings.js}"></script>
<script th:src="@{/src/plugins/jquery-steps/jquery.steps.js}"></script>
<script th:src="@{/vendors/scripts/steps-setting.js}"></script>

<!-- DataTables + ApexCharts -->
<script th:src="@{/src/plugins/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/vendors/scripts/dashboard3.js}"></script>




<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
</body>
</html>
